.side-panel {
  background: black;
  width: 400px; /* fixed width */
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Courier", monospace;
  border-left: 1px solid #444444;
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;

  .top {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 12px 20px 12px 25px;
    border-bottom: 1px solid #444444;

    h2 {
      color: white;
      font-family: "Courier", monospace;
      font-size: 21px;
      font-style: normal;
      font-weight: 500;
      line-height: 16px;
    }
  }

  .side-panel-container {
    width: 400px;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.side-panel-responses,
.side-panel-requests {
  flex-grow: 1;
  flex-shrink: 1;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  display: block;
  margin-left: 8px;
}
